.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: rgb(71, 71, 71);
}

.dark-1{
    color: rgb(24, 24, 24);
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 35px 18px;
    border-radius: 5px;
    border: none;

}

/* Header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
    /* gap: 51px */
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 235px;
}

.banner-content{
    width: 585px;
    height: 356px;
}

.banner-greetings {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-profile-picture{
    width: "584px";
    height: "676px";
}

